{% extends "base.html" %}

{% block content %}
<div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Articles</h2>

    
    
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Filters
        </button>
        <ul id="sort-links" class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item active" href="?sort=publication_date">Date</a></li>
          <li><a class="dropdown-item" href="?sort=author">Author</a></li>
          <li><a class="dropdown-item" href="?sort=tags">Tags</a></li>
          {% comment %} <li><hr class="dropdown-divider"></li> {% endcomment %}
          <li><a class="dropdown-item" href="?sort=name">Name</a></li>
        </ul>
    </div>

    {% for article in articles %}
        <div class="col d-flex align-items-start mb-5">
            <div>
                <h3 class="fs-2 text-body-emphasis">{{ article.name }}</h3>
                <p>{{ article.content|slice:':105' }}...</p>
                <a href="{% url "article" article.id %}" class="btn btn-primary">View</a>
            </div>
        </div>
    {% endfor %}

</div>
{% endblock content %}